<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>汽车美容</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>汽车装饰</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>汽车养护</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>汽车电子</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>汽车娱乐影音系统</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>汽车改装</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>汽车饰品类</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>汽车轮胎服务</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>汽车专业维修</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>汽车上使用办公用品</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>汽车租赁</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>车主俱乐部</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>其他</string>
		<key>subcategories</key>
		<array/>
	</dict>
</array>
</plist>
