<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>不限</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>销售/市场/业务</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>财务/人力资源/行政/文秘</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>网管/IT安装/程序员</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>编辑/翻译/律师</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>游戏代练/游戏推广</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>清洁/搬运/库管/司机</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>旅行/导游</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>教师/教练/家教</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>技工/工人/学徒</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>厨师/服务员/帮工/外卖</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>医护/按摩/美容/发型</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>公关/演艺/模特/摄影</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>实习机会/义工</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>店员/收银/客服</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>传媒/印刷/艺术/设计</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>保姆/月嫂/钟点工</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>互联网/通讯</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>兼职信息</string>
		<key>subcategories</key>
		<array/>
	</dict>
</array>
</plist>
