<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>不限</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>家电</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>手机及配件</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>电脑及配件</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>服饰</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>文体户外</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>母婴儿童</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>家居用品</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>汽车及配件</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>美容保健</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>食品饮料</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>成人用品</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>其他二手</string>
		<key>subcategories</key>
		<array/>
	</dict>
</array>
</plist>
